

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.parent{
    display: flex;
    justify-content: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parent-old{
    background-image: url("assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 40px;
    
}

.parent-oldd{
    
    height: 400px;
    margin-bottom: 40px;
    
}

    


.card1{
    width: 40%;
    text-align: center;
}


main{
    background-color: aqua;
}



.cl{
    color: #757575;
}

.btn{
border-radius: 6px;
background: rgb(13, 19, 33);
color: white;
padding: 21px 24px 21px 24px;
cursor: pointer;


}


.btn a {
    text-decoration: none; 
    color: white; 
}








.cl{
 text-align: center;
 
}

.container{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(246, 243, 243);
    overflow:hidden;
}


.ch1{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.ch2{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    height: 230px;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    margin-bottom: 15px;
   
    
}

.c3{
    width: 50%;
}

.title{
 font-size: 20px;
}

.des{
 font-size: 13px;
 color: rgb(102, 101, 101);
}

.btn3{
    padding: 10px;
    border-radius: 10%;
}



.card2{
   
    border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(39, 10, 10, 0.329);
background: rgb(255, 255, 255);
width: 300px;
height: 350px;
padding: 20px;


}


.parent_card  .card2 img{
    margin-top: 8px;
    margin-left: 10px;
  }

  .parent_card{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .pold{
    display: flex;
    justify-content: center;
   
  }

  .pch{
    text-align: center;
    width: 50%;
    margin-top: 40px;
  }

.t1{
 font-size: 25px;
}

.t2{
    font-size: 15px;
    color: rgb(102, 101, 101);
}

.t6{
    text-decoration: underline;
}


.container2{
  
  height: 300px;
  width: 1040px;
  background-image: url("assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}


input[type="text"] {
    width: 430px; 
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.btn65

{
    background-color: white;
    padding: 12px;
    width: 100px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}


.chh65{
    text-align: center;
}

.c67{
    color: #ccc;
}

.cli{
    margin: 0 auto;
}

  